body {
    background-color: rgb(204, 255, 253);
    background-image: linear-gradient(rgb(204, 255, 253), rgb(102, 255, 250));
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    margin: 0;
}
@font-face {
  font-family: 'Inter';
  font-stretch: PERCENTAGE_RANGE_LOW_TO_HIGH; /* Note that font-stretch is a % of normal width */
  font-style: NORMAL; /* See note below */
  font-weight: 400;
  src: url(./fonts/Inter/Inter-VariableFont_opsz,wght.ttf);
}

html {
  font-family: Inter, sans-serif;
}

h1 {
    color: rgb(0, 84, 220);
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
}

p {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 72, 255);
}
table {
      width: 50%;
      border-collapse: collapse;
      margin: 0 auto;
      padding:80px;
    }
    
    th, td {
      border: 1px solid #000000;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: rgb(0, 84, 220);
      color: rgb(255, 255, 255);
    }
    
    form {
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0px auto;
      padding: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }